tr,td{
    border: 3px;
    border-style: dotted;
}
td{
    height: 80px;
    width: 80px;
    background-color: rgb(253, 253, 253);
    border-radius: 30%;
    border-color: rgb(78, 5, 85);
    
}
body{
    background-color:rgb(221, 185, 212) ;
}
button,select{
    background-color:#f4f6f7 ;
    border-radius: 25%;
    box-sizing: border-box;
    height: 35px;  
    color: black;
    border: 2px solid #535b6b; 
    font-size:medium;
    font-style:bold;
}
